@model dynamic
@{
    ViewBag.Title = "Home";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-3">
               
    </div>
    <div class="col-md-9">
        <h2>@ViewBag.Title @ViewBag.FirstName.</h2>
        Panel page is the page where the visitor is redirected right after he logs in
    </div>
    
</div>
