@{
    ViewBag.Title = "Hi, ";
    
}
<h2>@ViewBag.Title @ViewBag.Username.</h2>
<h3>@ViewBag.Message</h3>
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Cars</a></li>
        </ul>
    </div>
    <div class="col-md-9"></div>
    
</div>
